<div class="container">
    <canvas id="myChart"></canvas>
    <input type="text" value="{{graphData.totalAppointmentCount}}" id="totalAppointmentCount" hidden>
    <input type="text" value="{{graphData.consultedCount}}" id="consultedCount" hidden>
    <input type="text" value="{{graphData.expiredCount}}" id="expiredCount" hidden>
    <input type="text" value="{{doctorName}}" id="doctorName" hidden>
    <script>

        let totalAppointmentCount = document.getElementById('totalAppointmentCount').value;
        let consultedCount = document.getElementById('consultedCount').value;
        let expiredCount = document.getElementById('expiredCount').value;
        let doctorName = document.getElementById('doctorName').value;


        let myChart = document.getElementById('myChart')
        var chart = new Chart(myChart, {
            type: "bar",
            data: {
            labels: ['Total Appointment', "Consulted Appointment", "Expired Appointment"],
            datasets: [
              {
                label: doctorName,
                data: [totalAppointmentCount, consultedCount, expiredCount],
                backgroundColor: [
                  "rgba(255, 99, 132, 0.2)",
                  "rgba(54, 162, 235, 0.2)",
                  "rgba(255, 206, 86, 0.2)",
                ],
                borderColor: [
                  "rgba(255, 99, 132, 1)",
                  "rgba(54, 162, 235, 1)",
                  "rgba(255, 206, 86, 1)",
                ],
                borderWidth: 1,
              },
            ],
          },
        options: {
            scales: {
                yAxes: [
                    {
                        ticks: {
                            beginAtZero: true,
                        },
                    },
                ],
                },
        },
        });
    </script>
</div>