<div class="bg-info">
    <!-- Container containing all contents -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                <!-- White Container -->
                <div class="container bg-white rounded mt-2 mb-2 px-0">
                    <!-- Main Heading -->
                    <div class="row justify-content-center align-items-center pt-3">
                        <h1><strong>Register Now</strong></h1>
                    </div>
                    <div class="pt-3 pb-3">
                        <form class="form-horizontal" action="/registerForm" method="POST">
                            <!-- User Name Input -->
                            <div class="form-group row justify-content-center px-3">
                                <div class="col-9 px-0"> <input type="text" name="name" placeholder="User name"
                                        class="form-control border-info "> </div>
                            </div>
                            {{!-- Age --}}
                            <div class="form-group row justify-content-center px-3">
                                <div class="col-9 px-0"> <input type="number" name="age" placeholder="Age"
                                        class="form-control border-info "> </div>
                            </div>

                            <!-- Email Input -->
                            <div class="form-group row justify-content-center px-3">
                                <div class="col-9 px-0"> <input type="email" placeholder="Email" name="email"
                                        class="form-control border-info "> </div>
                            </div>

                            <!-- mobile Input -->
                            <div class="form-group row justify-content-center px-3">
                                <div class="col-9 px-0"> <input type="tel" placeholder="+9198XXX" name="mobile"
                                        id="mobile" class="form-control border-info ">
                                        <small class="text-danger">Country code and Mobile Number</small></s> </div>
                            </div>

                            <div class="form-group row justify-content-center px-3">
                                <div class="col-10 px-3"> <input type="button" value="Send code"
                                        class="btn btn-block btn-info" onclick="sendCode()"> </div>
                            </div>
                            <div class="form-group row justify-content-center px-3">
                                <div class="col-9 px-0"> <input type="text" id="verificationCode"
                                        placeholder="Enter otp" name="otp" class="form-control border-info "> </div>
                            </div>
                            <div class="form-group row justify-content-center px-3">
                                <div class="col-10 px-3"> <input type="button" id="code" value="Verify code"
                                        class=" btn btn-block btn-info" onclick="verifyOtp()"> </div>
                            </div>

                            <!-- Password Input -->
                            <div class="form-group row justify-content-center px-3" >
                                <div class="col-9 px-0"> <input type="password" name="password" placeholder="password"
                                        class="form-control border-info "> </div>
                            </div>

                            <input type="hidden" id="codeVerified" name="codeVerified" value="">

                            <!-- Log in Button -->
                            <div class="form-group row justify-content-center" id="register">
                                <div class="col-4 px-3"> <input type="submit" value="Register"
                                        class="btn btn-block btn-info"> </div>
                            </div>
                        </form>
                    </div>
                    <!-- Horizontal Line -->
                    <hr>

                    <!-- Register Now -->
                    <div class="pt-2">
                        <div class="row justify-content-center">
                            <h5>Already have an Account?<span><a href="/loginForm" class="text-danger"> Login
                                        Now!</a></span></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<script>
    function sendCode() {
        console.log(document.getElementById('mobile').value)
        let mobile = document.getElementById('mobile').value;
        $.ajax({
            url: '/send-code',
            method: 'post',
            data: {
                mobile: mobile
            }
        })
    }


    function verifyOtp() {
        let code = document.getElementById('verificationCode').value;
        let mobile = document.getElementById('mobile').value;

        $.ajax({
            url: '/verify-otp',
            method: 'post',
            data: {
                code: code,
                mobile: mobile,
            },
            success: (resp => {
                if (resp) {
                   {{!-- setting hidden input field value to approved if code verified --}}
                    document.getElementById('codeVerified').value = resp.status;

                }
            })

        })

    }
</script>